.Rproj.user
.Rhistory
.RData
.Ruserdata
archive
other_img
other_docs
other
presentations/*.pptx
Montserrat
BarcelonaR_workshop_Introduction_to_Shiny
BarcelonaR_workshop_Introduction_to_Data_Manipulation
BarcelonaR_workshop_Introduction_to_RStudio_and_Shiny_servers
BarcelonaR_workshop_Introduction_to_NLP_with_R
BarcelonaR_workshop_Introduction_to_Machine_Learning
BarcelonaR_workshop_Introduction_to_Web_Scraping
